#panorama {
  width: 70%;
  height: 300px;
  margin-left: 10%;
  /* background-color: #fff; */
  transform: none !important;
  zoom: 1 !important;
}
/* bike-detail.component.css */

/* Hide the settings (gear) and fullscreen icons */
.panolens-container .panolens-controls__setting,
.panolens-container .panolens-controls__fullscreen {
  display: none !important;
}
