<app-header></app-header>
<div class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>My Bikes</h4>
    </div>
</div>

<div class="container-fluid">

  <div *ngFor="let bike of bikes" class="row mb-20" style="border-bottom: 1px solid #fff;padding-bottom: 20px;">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-3">
      <img [src]="bike.src" alt="{{bike.description}}" style="width: 200px;height: 200px;">
    </div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-9 text-light">
      <!-- Display mode -->
      <div *ngIf="!bike.isEditing">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Year: {{ bike.year }}</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Make: {{ bike.make }}</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Model: {{ bike.model }}</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Description: {{ bike.description }}</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Price: {{ bike.price | currency:'USD':'symbol':'1.2-2' }}</p>
            <!-- <p>Price: {{ bike.price }}</p> -->
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>For Sale: {{ bike.isForSale }}</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Sold: {{ bike.isSold }}</p>
          </div>
        </div>
      </div>
  
      <!-- Edit mode -->
      <div *ngIf="bike.isEditing">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label>Year:</label>
            <input type="text" [(ngModel)]="bike.Year" class="form-control" value="{{bike.year}}">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label>Make:</label>
            <input type="text" [(ngModel)]="bike.Make" class="form-control">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label>Model:</label>
            <input type="text" [(ngModel)]="bike.Model" class="form-control">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label>Description:</label>
            <input type="text" [(ngModel)]="bike.Description" class="form-control">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label>Price:</label>
            <input type="text" [(ngModel)]="bike.Price" class="form-control">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-check">
              <input class="form-check-input" [(ngModel)]="bike.isForSale" type="checkbox" value="">
              <label class="form-check-label" for="flexCheckDefault">
                For Sale
              </label>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-check">
              <input class="form-check-input"  [(ngModel)]="bike.IsSold" type="checkbox" value="">
              <label class="form-check-label" for="flexCheckDefault">
                Sold
              </label>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row" *ngIf="!bike.isEditing">
          <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2" style="width: 40%;">
            <button class="btn btn-primary" (click)="deleteBike(bike.ImageID)">Delete</button>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2" *ngIf="!bike.isEditing" style="width:40%;">
            <button class="btn btn-primary" *ngIf="!bike.isEditing" (click)="toggleEdit(bike)">Update</button>
          </div>
        </div>
        <div class="row" *ngIf="bike.isEditing">
            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2" *ngIf="bike.isEditing" style="width: 40%;">
              <button class="btn btn-success" *ngIf="bike.isEditing" (click)="saveBike(bike)">Save</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" *ngIf="bike.isEditing" style="width: 40%;">
              <button class="btn btn-secondary" *ngIf="bike.isEditing" (click)="cancelEdit(bike)">Cancel</button>
            </div>
        </div>
      </div>
      <input type="hidden"  [value]="bike.ImageID">
      <input type="hidden" [value]="bike.userEmail">

    </div>
  </div>
  

  <!-- <div *ngFor="let bike of bikes" class="row mb-20" style="border-bottom: 1px solid #fff;padding-bottom: 20px;">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-3">
      <img [src]="bike.Source" alt="{{bike.Description}}" style="width: 200px;height: 200px;">
    </div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-9 text-light">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label>Year:</label>
          <input type="text" [(ngModel)]="bike.Year" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label>Make:</label>
          <input type="text" [(ngModel)]="bike.Make" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label>Model:</label>
          <input type="text" [(ngModel)]="bike.Model" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label>Description:</label>
          <input type="text" [(ngModel)]="bike.Description" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label>Price:</label>
          <input type="text" [(ngModel)]="bike.Price" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label>For Sale:</label>
          <input type="checkbox" [(ngModel)]="bike.isForSale" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label>Sold:</label>
          <input type="checkbox" [(ngModel)]="bike.IsSold" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-sm-offset-3">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-primary" (click)="deleteBike(bike.ImageID)">Delete</button>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-primary" (click)="updateBike(bike.ImageID)">Update</button>
          </div>
        </div>
      </div>
      <input type="hidden" [value]="bike.ImageID">
    </div>
  </div> -->
  
  <!-- <div *ngFor="let bike of bikes" class="row mb-20" style="border-bottom: 1px solid #fff;padding-bottom: 20px;">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-3">
        <img [src]="bike.Source" alt="{{bike.Description}}" style="width: 200px;height: 200px;">
      </div>
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-9 text-light">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Year: {{ bike.Year }}</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Make: {{ bike.Make }}</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Model: {{ bike.Model }}</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Description: {{ bike.Description }}</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Price: {{ bike.Price }}</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>For Sale: {{ bike.isForSale }}</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Sold: {{ bike.IsSold }}</p>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-sm-offset-3">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-primary" (click)="deleteBike(bike.ImageID)">Delete</button>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-primary" (click)="updateBike(bike.ImageID)">Update</button>
          </div>
        </div>
      </div>
      <input type="hidden" [value]="bike.ImageID">  </div>

  </div> -->
  
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <app-footer></app-footer>
</div>